<div>
  <p>Olá, {{name}}.</p>
  <p>Uma solicitação de recuperação de senha foi iniciada para o seu e-mail ({{email}}).</p>

  <p><strong>Se foi você</strong>, clique no link abaixo para redefinir sua senha: </p>

  <p><a href="{{link}}">Redefinir minha senha</a></p>

  <p>Se não foi você quem solicitou essa redefinição, desconsidere essa mensagem.</p>

  <p>Obrigado</p>
  <p><strong>Equipe GoBarber</strong></p>
</div>
